.chat-bar-collapsible {
	position: fixed;
	top: 25px;
	left: 25px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

.collapsible {
	background-color: #1b203d;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 325px;
	text-align: center;
	outline: none;
	font-size: 24px;
	border-radius: 10px 10px 0px 0px;
	/* border: 3px solid white; */
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	border-radius: 0px 0px 10px 10px;
}

.full-chat-block {
	width: 325px;
	background: white;
	text-align: center;
	overflow: auto;
	scrollbar-width: none;
	height: max-content;
	transition: max-height 0.2s ease-out;
	border-radius: 0px 0px 10px 10px;
}

.outer-container {
	min-height: 450px;
	bottom: 0%;
	position: relative;
}

.chat-container {
	max-height: 550px;
	width: 100%;
	position: absolute;
	left: 0;
	scroll-behavior: smooth;
	hyphens: auto;
}

.chat-container::-webkit-scrollbar {
	display: none;
}

.chat-bar-input-block {
	display: flex;
	float: left;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	background-color: rgb(235, 235, 235);
	border-radius: 10px 10px 0px 0px;
	padding: 10px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.chat-bar-icons {
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	width: 25%;
	float: right;
	font-size: 20px;
}

#chat-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#chat-icon:hover {
	opacity: 0.7;
}

/* Chat bubbles */

#userInput {
	width: 75%;
}

.input-box {
	float: left;
	border: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	color: #000;
	background-color: white;
	outline: none;
}

.userText {
	color: white;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	clear: both;
}

.userText span {
	line-height: 1.5em;
	display: inline-block;
	background: #5ca6fa;
	padding: 10px;
	border-radius: 8px;
	border-bottom-right-radius: 2px;
	max-width: 80%;
	margin-right: 10px;
	animation: floatup 0.5s forwards;
}

.botText {
	color: #000;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
}

.botText span {
	line-height: 1.5em;
	display: inline-block;
	background: #e0e0e0;
	padding: 10px;
	border-radius: 8px;
	border-bottom-left-radius: 2px;
	max-width: 80%;
	margin-left: 10px;
	animation: floatup 0.5s forwards;
}

.label {
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;
}
.login_form {
	padding: 20px 40px;
}
.login_form .font {
	font-size: 20px;
	color: #130f40;
	margin: 5px 0;
}
.login_form input {
	height: 45px;
	width: 100%;
	padding: 0 5px;
	font-size: 20px;
	outline: none;
	border: 1px solid silver;
}
.login_form .font2 {
	margin-top: 30px;
}
.login_form button {
	margin: 45px 0 20px 0;
	height: 45px;
	width: 100%;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1b203d;
	border-radius: 3px;
	border: none;
	transition: 0.5s;
}
.login_form a {
	text-decoration: none;
	color: white;
}

.login_form button:hover {
	background: #12193f;
}
.login_form #email_error,
.login_form #pass_error {
	margin-top: 5px;
	width: 100%;
	font-size: 18px;
	color: #c62828;
	background: rgba(255, 0, 0, 0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #ef9a9a;
	display: none;
}
.image-wrapper {
	width: 100px;
	height: 100px;
	margin-top: 25px;
	margin-left: 25px;
}
.main-page-nav {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

@keyframes floatup {
	from {
		transform: translateY(14px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media screen and (min-width: 425px) {
	.collapsible {
		width: 375px;
	}
	.full-chat-block {
		width: 375px;
	}
	.outer-container {
		min-height: 525px;
	}
}
@media screen and (min-width: 768px) {
	.collapsible {
		width: 400px;
	}
	.full-chat-block {
		width: 400px;
	}
	.chat-bar-collapsible {
		left: 200px;
		top: 70px;
	}
	.outer-container {
		min-height: 525px;
	}
}
@media screen and (min-width: 1024px) {
	.collapsible {
		width: 500px;
	}
	.full-chat-block {
		width: 500px;
	}
	.chat-bar-collapsible {
		left: 250px;
		top: 175px;
	}
	.outer-container {
		min-height: 550px;
	}
	.login_form button {
		margin: 50px 0px 30px 0px;
	}
}
@media screen and (min-width: 1440px) {
	.collapsible {
		width: 550px;
	}
	.full-chat-block {
		width: 550px;
	}
	.outer-container {
		min-height: 542px;
	}
	/* .chat-bar-collapsible {
		right: 550px;
	} */
	.chat-bar-collapsible {
		left: 450px;
		top: 80px;
	}
	.login_form button {
		margin: 50px 0px 30px 0px;
	}
	.login_form button {
		width: 375px;
	}
	.login_form input {
		width: 375px;
	}
	.login_form #email_error,
	.login_form #pass_error {
		width: 375px;
		margin-left: 48px;
	}
}
